<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2><%= @user.email %></h2>

<% if @user != current_user %>
  <%= button_to "Start Chat", user_chats_path(@user), method: :post %>
<% end %>
